header{
  width: 100%;
  height: 650px;
}
.logo-wrapper{
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: url('../img/bg-main.jpg') no-repeat center top/cover;
  box-shadow: inset 0 0 200px #000;
}
.logo{
  z-index: 0;
  width: 90%;
  height: 18%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; 
  cursor: default;
  color:  #fff;
  font-size: 100px;
  font-family: logo;
  text-shadow: 2px 0 3px #000;
}
@media screen and (max-width: 900px){
  .logo{
    font-size: 60px;
  }
  header{
    height: 400px;
  }
}
@media screen and (max-width: 600px){
  .logo{
    font-size: 30px;
  }
  header{
    height: 200px;
  }
  .logo-wrapper{
    background: url('../img/bg-main.jpg') no-repeat left center/cover;
  }
  .logo-wrapper{
    box-shadow: inset 0 0 50px #000;
  }
}
.block{
  margin: 30px;
  padding: 30px;
  width: 300px;
  height: 300px;
  background: #ccc;
  cursor: default;
}
.svg{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.svg-1{
  background: url("../img/shit.svg")no-repeat center/cover;
}
.svg-2{
  background: url("../img/time.svg")no-repeat center/cover;
}
.svg-3{
  background: url("../img/krest.svg")no-repeat center/cover;
}
.svg-4{
  width: 50px;
  height: 50px;
  background: url("../img/target.svg")no-repeat center/cover;
}
.text{
  cursor: default;
  text-align: center;
  padding-top: 12px;
  margin: auto;
  font-size: 18px;
  width: 200px;
  height: 300px;
  border-top: 2px solid #111;
}