*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background: #ddd;
}
@font-face{
  font-family:logo;
  src:url("../fonts/logo.ttf");
}
@font-face{
  font-family:menu;
  src:url("../fonts/menu.ttf");
}
li, a{
  text-decoration: none;
  list-style: none;
  text-align: center;
}
a{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  min-width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 30px 0 30px;
  -webkit-transition: background 0.6s ease-out;
  -o-transition: background 0.6s ease-out;
  transition: background 0.6s ease-out;
  font-family: menu;
}
a:hover{
  background: #fff;
  color: #000;
  cursor: pointer;
  font-weight: 900;
}
.content-part-wrapper{
  width: 100%;
  height: 100%;
  background: #ddd;
}
.content-wrapper{
  padding: 30px 0 30px 0;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.theme{
  width: 100%;
  font-size: 30px;
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
  margin-top: 7%;
  padding: 3%; 
  text-align: center;
}
.title-menu{
  width: 80%;
  height: 100%;
  display: none;
  color: #fff;
  padding: 22px;
  cursor: default;
  font-size: 14px;
  font-weight: 900;
  font-family: menu;
  text-transform: uppercase;
}
.main{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-list{
  position: relative;
  z-index: 1;
}
.menu-wrapper{
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;
  background:   #000;
  opacity: 0.7;
}
.menu{
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
}
.menu-drop{
  z-index: 1;
  position: absolute;
  width: 100%;
  top: -1000%;
  opacity: 0;
}
.menu-list:hover .menu-drop{
  top: 100%;
  opacity: 1;
}
.menu-drop li, li{
  -webkit-transition: background 0.6s ease-out;
  -o-transition: background 0.6s ease-out;
  transition: background 0.6s ease-out;
}
.menu-drop li, li:hover{
  background: #000;
}
.burger {
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: transparent;
  background: url("../img/icon-menu.svg") no-repeat center/cover;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
}
.burger-checkbox {
  display: none;
}
.burger-checkbox:checked + .burger {
  background-image: url("../img/icon-cross.svg");
}
.burger-checkbox:checked ~ .menu {
  display: block;
}
@media screen and (max-width: 900px){
  .theme{
    font-size: 15px;
    margin-top: 10%;
    padding: 3%; 
  }
  a{
    font-size: 14px;
  }
}


@media screen and (max-width: 600px){
  .theme{
    font-size: 20px;
    margin-top: 15%;
  }
  a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 13px;
    height: 40px;
    padding: 10px;
  }
  .ind{
    border-left: 4px solid #888;
  }
  .title-menu{
    display: block;
  }
  .menu-wrapper{
    height: 60px;
    position: fixed;
    opacity: 0.7;
  }
  .main{
    width: 100%;
    display: block;
    position: relative;
    top: 0;
  }
  .burger{
    display: block;
  }
  .menu{
    display: none;
    overflow: auto;
    height: 250px;
  }
  .menu-drop{
    z-index: 1;
    position: relative;
    width: 100%;
    top: 0;
    opacity: 1; 
    border-left: 4px solid #888;
  }
  .menu-drop a{
    position: relative;
    padding-left: 30px; 
  }
  .menu-list{
    position: relative;
    z-index: 1;
    opacity: 1;
  }
  .menu-list:hover .menu-drop{
    top: 0;
    opacity: 1;
  }
  .menu-drop li, li{
    background: #000;
    opacity: 1;
  }
}
